/* mixin common */
@mixin clear { // float 부모 요소 clear
    &:after {content:"";display:block;clear:both;}
}
@mixin ellipsis($wid,$hei){ // 말 줄임
    display:block;width:$wid;height:$hei;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}
/* and mixin common */

/* media query */
$breakpoint-desktop1:1640px;
$breakpoint-tablet:1280px;
$breakpoint-mobile:767px;

@mixin desktop1 {
    @media screen and (max-width:#{$breakpoint-desktop1}) and (min-width:#{$breakpoint-tablet + 1px}) {
        @content;
    }
}
/* and media query */